.detail {
  margin: 0.2em;
}
.detail__label {
  font-weight: 500;
}
.detail-inline {
  display: inline-block;
}
.detail-block {
  display: block;
}
.detail__group {
  display: block;
  width: 100%;
  /* border-bottom: 2px solid #666; */
}
.detail__group.row > div {
  display: inline-block !important;
}
.detail__group.col > div {
  display: block !important;
}
