.detail {
  margin: 0.2em;
}
.detail-label {
  font-weight: bold;
}
.detail.inline {
  display: inline-block;
}
.detail.block {
  display: block;
}
.detail-group {
  display: block;
  width: 100%;
}
.detail-group .detail {
  margin: 0 !important;
}
.detail-group.inline > div {
  display: inline-block !important;
}
.detail-group.block > div {
  display: block !important;
}
