.detail {
  margin: 0.2em;
}
.detail-label {
  font-weight: bold;
}
.detail.inline {
  display: inline-block;
}
.detail.block {
  display: block;
}
.detail-group {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.detail-group .detail {
  margin: 0;
}
